[Service]
ExecStart=/usr/local/bin/journalcheck --save --to=root --summarize

# Be polite about shared resources (CPU, RAM, I/O).
Nice=10
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
MemoryHigh=128M

# Be more secure.
#
# NOTE: PrivateNetwork=yes will break msmtp-mta.
DynamicUser=yes
SupplementaryGroups=adm systemd-journal
ReadWritePaths=/var/log/.last-journalcheck
